*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: rgb(251, 248, 245);
    width: 100%;
    height: 75px;
}

.cabecalho img{
    width:180px;
    padding: 15px;
    margin-left: 100px;
    margin-top: 15px;
}

.menu{
    display: flex;
    gap: 50px;
    margin-right: 100px;
}

.menu a{
    text-decoration: 0;
    font-size: 16px;
    background-color: rgb(7, 7, 7);
    padding: 3px 10px;
    border-radius: 10px;
    color:rgb(255, 254, 253);
    font-family: Arial, Helvetica, sans-serif;

}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:35px ;
}

.sobre h1{
    font-family: Arial, Helvetica, sans-serif;
}

.sobre span{
    color: rgb(206, 46, 46);
}

.sobre button{
    margin-top: 10px;
    background-color: rgb(206, 46, 46);
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 2px 8px;
    color: white;
    font-size: 20px;
}

.lugares{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.titulo{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card{
    background-color: rgb(250, 250, 250);
    margin: 30px;
    padding: 15px;
    border-radius: 20px;

    border: 1px solid black;

}

.card img{
    display: block;
    width: 100%;
    height: 100%;
   max-width: 400px;
   object-fit: cover;
   border-radius: 12px;
    
}

.card h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(10, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.card p{
    color: rgb(14, 14, 14);
}

.card span{
    color: brown;
    font-style: oblique;
    font-size: small;
}

.restaurantes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:35px ;
}

.restaurantes h1{
    font-family: Arial, Helvetica, sans-serif;
}

.restaurantes span{
    color: rgb(206, 46, 46);
}
.restaurante1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 50px;
}
.card1{
    background-color: rgb(250, 250, 250);
    margin: 30px;
    padding: 15px;
    border-radius: 20px;


}
.card1 img{
    display: block;
    width: 100%;
    height: 100%;
   max-width: 400px;
   object-fit: cover;
   border-radius: 12px;
    
}

.card1 h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(10, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
}

.resta{
    margin: 0px 10px;
    color: rgb(206, 46, 46); 
    font-style: oblique;
}